body{
    background-color: rgb(68, 72, 76);
    
}

.container{
    
    position: relative;
    width: 70%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 10px 0;
    font-family: 'FerroRosso', cursive;
    font-size: 70px;
    color: rgb(255, 40, 0);
    font-style: italic;
}

/* index.html css */

.menu{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    border: solid rgb(255, 40, 0) 6px;
    border-radius: 30px;
    flex-wrap: wrap;
    margin: 0 20px;
}

.menu span{
    margin: 20px 30px;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
}

.logo_img {
    width: 100px;
    margin: 20px 30px 20px 30px;
}

.items_hover{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: .3s;
    padding: 17.5px 0 17.5px 0;
    border-radius: 30px;
    transition-property: background-color;
    overflow: hidden;
}

.items_hover:hover{
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    line-height: 87px;
    height: 87px;
    width: 100%;
    overflow: hidden;
}

.history_text {
    color: whitesmoke;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
} 


@font-face {
    font-family: FerroRosso;
    src: url(fonts/FerroRosso.ttf);
}

.items_hover a{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

/* histroy.html css */

.history{
    margin-top: 30px;
}

table{
    border: rgb(255, 40, 0) solid 3px;
    border-radius: 30px;
    margin: 20px auto;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: whitesmoke;
}

td{
    text-align: center;
    padding: 15px;
}

.table_left{
    text-align: left;
}

.rb{
    color: rgb(0, 11, 141);
    font-size: 35px;
}

.merc{
    color: #03BFB5;
    font-size: 35px;
}

.ferrari{
    color: rgb(255, 40, 0);
    font-size: 35px;
}

.mclaren{
    color: #FF9700;
    font-size: 35px;
}

.williams{
    color: #005AFF;
    font-size: 35px;
}

.gold{
    background-color: rgba(255, 217, 0, 0.774);
    padding: 7px 30px;
}

.silver{
    background-color: silver;
    padding: 7px 30px;
}

.bronz{
    background-color: rgb(176, 141, 87);
    padding: 7px 30px;
    
}

/* gallery.html css */

.gallery_text{
    margin-top: 30px;
}

.gallery_img_small{
    height: 220px;
}

.gallery_img_big{
    height: 600px;
}
.gallery{
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
}

.gallery_items{
    background: whitesmoke;
    margin: 10px;
}

.gallery_desc{
    padding: 1.5em;
}

.gallery_title{
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
}

.gallery-lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    display: none;
    align-items: center;
    justify-content: center;
}

.gallery-lightbox:target{
    display: flex;

}

.gallery-lightbox_content{
    position: relative;
    background: rgb(68, 72, 76);
    padding: 1em;
}

.close{
    position: absolute;
    width: 2em;
    height: 2em;
    background: rgb(255, 40, 0);
    top: -1em;
    right: -1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close::after{
    content: 'X';
    color: whitesmoke;
    font: bold;
}